
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto+Slab&family=Roboto:wght@700&family=Rubik:wght@500&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .link{
        @apply font-medium hover:underline-offset-2 text-sm md:text-lg hover:underline hover:text-blue-800;
    }
    .normal_btn{
        @apply py-2 px-6 shadow-md bg-pink-500 hover:bg-pink-700 font-ubuntu text-lg text-white rounded-sm;
    }
    .view_btn{
        @apply font-medium rounded-sm flex items-center justify-center space-x-1 py-2 px-3 bg-yellow-600 text-white hover:bg-yellow-700 hover:scale-110;
    }
    .delete_btn{
        @apply font-medium rounded-sm flex items-center justify-center space-x-1 py-2 px-3 bg-red-600 text-white hover:bg-red-800 hover:scale-110;
    }
    .table{
        @apply border-collapse border border-gray-500 w-full text-sm text-left text-gray-500 dark:text-gray-400;
    }
    .table_head{
        @apply text-base font-firasans text-white bg-indigo-800/80 uppercase dark:bg-gray-700 dark:text-gray-400;
    }

    .table_heading{
        @apply py-4 px-6 border-2 border-gray-700 text-center;
    }
    .table_body_tr{
        @apply bg-white dark:bg-gray-800 dark:border-gray-700 text-center font-firasans hover:bg-blue-200/80 cursor-pointer odd:bg-gray-200 even:bg-white;
    }
    .table_data{
        @apply py-4 px-6 border-2 border-gray-700 text-center;
    }
}

.stepper__step{
    border: 2px solid rgb(23, 2, 52) !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}